# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 54b36b14e4a57c7f15b02851e7d61ad2ed2f7a33a6623206b3ea5b71923e6a49fd6f79a9a45f272b00a2175784352d5f6dea8c00bce23a0490bb7b55f7e1f659

test:
  secret_key_base: ef8915676ff6885a2aaab6f62e8d77a17898637619c0bc4e96a57aeaa728f100a5cf3bdaccb61206a69dbae642d3c4f808cf650683f3d174d7b4064542dfb7fa

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
